.bear-tile {
    border: 1px solid #eab2e5;
    background-color: #f9e5f6;
    border-radius: .25rem;
    display: block;
  }
  .bear-tile-male {
    border: 1px solid #8ec6e2;
    background-color: #e9f3f9;
    border-radius: .25rem;
    display: block;
  }
  .bear-silhouette {
    /* height: 100px; */
    /* width: 165px; */
    margin-top: -5px;
  }
  .bear-tile-body {
    background: linear-gradient(180deg, rgba(255,255,255,1) 80%, #f9e5f6 100%);
  }
  .bear-tile-body-male {
    background: linear-gradient(180deg, rgba(255,255,255,1) 80%, #e9f3f9 100%);
  }