/* .bear-tile {
    border: 1px solid #d2955d;
    border-radius: .25rem;
    display: block;
} */
/* .my-image {
    width: 40%;
} */
.customIcon{
    width: 24px;
    height: 24px;
    /* margin: 10px; */
}